/* Universal */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Font */
/* Noto Serif Font */
.noto-serif-font {
  font-family: "Noto Serif", serif;
}

/* Inter Font */

.inter-font {
  font-family: "Inter", sans-serif;
}

/* primary */

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container1 {
  max-width: 1440px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

/* primary color */
.color-primary {
  color: #e95a08;
}

/* Animation */
@keyframes trusted-plant-lover-bridge-animation {
  form {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header */
.header-container {
  margin-top: 30px;
}
/* Navbar */
.navbar-container {
  justify-content: space-between;
  align-items: center;
}

.navbar-content {
  gap: 48px;
  justify-content: space-between;
  align-items: center;
}

.navbar-content ul {
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  list-style: none;
}

.navbar-content ul a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.navbar-content p {
  font-size: 16px;
  font-weight: 500;
}

.navbar-content p i {
  margin-right: 10px;
}

/* Banner Section */
.banner-container {
  margin-top: 120px;
}

.banner-content {
  justify-content: space-between;
  align-items: end;
}

.banner-content1 {
  margin-top: 162px;
}
.banner-content2 {
  margin-top: 100px;
}

.banner-content1 p {
  font-size: 65px;
  font-weight: bold;
}

.banner-content1 #banner-content1-p1 {
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 13px;
}

/* Plant Section */
.plant-container {
  margin-top: 120px;
}
.plant-content1 {
  text-align: center;
}
.plant-content1 h3 {
  font-size: 50px;
  font-weight: bold;
}
.plant-content1 p {
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  max-width: 888px;
  margin: 16px 126px 0px 126px;
}
.plant-content2 {
  margin-top: 49px;
}
.plant-content2-card {
  max-width: 270px;
}
.plant-content2-card-content {
  text-align: center;
  margin-top: 30px;
}
.plant-content2-card-content .plant-content2-card-content1 h3 {
  font-size: 22px;
  font-weight: 500;
  color: #111111;
}
.plant-content2-card-content .plant-content2-card-content1 p {
  font-size: 22px;
  font-weight: bold;
  color: #111111;
  margin-top: 20px;
}

.plant-content2-card-banner {
  margin-top: 30px;
}

.plant-content2-card-content .plant-content2-card-banner button {
  background-color: #e95a08;
  color: #ffffff;
  width: 270px;
  font-size: 16px;
  font-weight: 600px;
  padding: 19px 70px;
  border: none;
}

.plant-content2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* Plants Lover Section */
.plants-lover-container {
  margin-top: 210px;
}

.plants-lover-content {
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.plants-lover-image img {
  display: block;
}

.plants-lover-text {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 540px;
  height: 521px;
}

.plants-lover-text h3 {
  /* font-size: 40px; */
  font-size: 52px;
  font-weight: bold;
  color: #000000;
}

.plants-lover-text ul li {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  margin-left: 30px;
  color: rgba(0, 0, 0, 0.5);
}

/* Trusted Plant Lover Badge */
.plants-lover-image {
  position: relative;
  z-index: 0.5;
}
.trusted-plant-lover-bridge {
  width: 0px;
  height: 0px;
  border: 2px solid red;
  position: absolute;
  top: -130px;
  left: 350px;
  z-index: 1;
}

/* Image Animation */
.trusted-plant-lover-bridge img {
  width: 286px;
  height: 286px;
  top: 300px;
  animation: trusted-plant-lover-bridge-animation 5s linear infinite;
}

/* Latest Deal Section */
.latest-deal-container {
  margin-top: 120px;
}
.latest-deal-content1 {
  text-align: center;
}
.latest-deal-content1 h3 {
  font-size: 50px;
  font-weight: bold;
}
.latest-deal-content1 p {
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  max-width: 888px;
  margin: 16px 126px 0px 126px;
}

/* Latest Deal Image */
.latest-deal-image {
  margin-top: 120px;
  justify-content: space-between;
  gap: 28px;
  color: #ffffff;
  margin-bottom: 120px;
}
.latest-deal-image-content1-image1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4)), url(./assets/deal-bloom.png);
  border-radius: 14px;
  width: 366px;
  height: 200px;
}

.latest-deal-image-content1-image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url(./assets/deal-ana.png);
  margin-top: 20px;
  border-radius: 14px;
  width: 366px;
  height: 200px;
}
.latest-deal-image-content2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url(./assets/deal-zabo.png);
  border-radius: 22px;
  width: 753px;
  height: 423px;
}
.latest-deal-image-content1-image1 {
  padding: 65px 47px 64px 49px;
}
.latest-deal-image-content1-image1-content1 {
  width: 270px;
  text-align: center;
}
.latest-deal-image-content1-image1-content2 {
  width: 270px;
  padding: 19px 90px;
}

.latest-deal-image-content1-image2 {
  padding: 65px 47px 64px 49px;
  margin-top: 20px;
}
.latest-deal-image-content1-image2-content1 {
  width: 270px;
  text-align: center;
}
.latest-deal-image-content1-image2-content2 {
  width: 270px;
  padding: 19px 90px;
}
.latest-deal-image-content2 {
  padding-top: 172px;
  padding-left: 128px;
  padding-right: 127;
  text-align: center;
}
.latest-deal-image-content1-image1-content2 a {
  color: white;
}
.latest-deal-image-content1-image2-content2 a {
  color: white;
}
.latest-deal-image-content2-content2 a {
  color: white;
}
.latest-deal-image-content2-content1 {
  width: 498px;
  font-size: 40px;
  font-weight: bold;
}
.latest-deal-image-content2-content2 {
  width: 270px;
  font-size: 28px;
  font-weight: 600;
  margin-left: 100px;
  margin-right: 241px;
  padding: 15px 66px;
}

/* Join Section */
.join-container {
  padding-top: 199px;
  padding-bottom: 193px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
      rgba(7, 51, 79, 0.4),
      rgba(0, 0, 0, 0.5),
      rgba(7, 51, 79, 0.4)
    ),
    url(./assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: 1440px 533px;
}

.join-content {
  width: 830px;
  height: 141px;
  text-align: center;
}

.join-content h3 {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
}

.join-content2 {
  margin-top: 23px;
}

.join-content2 input[type="email"] {
  width: 644px;
  padding-left: 20px;
  padding-top: 8px;
  padding-right: 538px;
  padding-bottom: 8px;
}
.join-content2 input::placeholder {
  font-size: 16px;
  font-weight: 400px;
  font-family: "Inter", sans-serif;
}
.join-content2 button {
  background-color: #e95a08;
  color: #ffffff;
  border: none;
  width: 186px;
  height: 50px;
}

/* Media Query */
/* Medium Device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .banner-content {
    flex-direction: column-reverse;
  }
  /* Banner Section */
  .banner-container {
    margin-top: 70px;
  }
  .banner-content2-image {
    margin-top: -50px;
  }
  .banner-content {
    align-items: center;
  }
  .banner-content1 {
    margin-top: 28px;
  }
  .banner-content1 p {
    font-size: 45px;
  }
  .banner-content1 #banner-content1-p1 {
    font-size: 18px;
  }

  /* Our Plant Section */
  .plant-container {
    margin-top: 65px;
  }

  .plant-content1 p {
    width: 75%;
    margin: auto;
    margin-top: 16px;
  }
  .plant-content2-card {
    width: 171px;
  }
  .plant-content2 {
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    place-items: center;
  }
  .plant-content2-card-image {
    width: 171px;
    height: auto;
  }
  .plant-container .plant-content1 .h3 {
    font-size: 37px;
  }
  .plant-content1 p {
    font-size: 16px;
  }
  .plant-content2-card-content .plant-content2-card-banner button {
    width: 171px;
    padding: 19px 30px 19px 30px;
  }

  /* Plant Section */
  .plants-lover-container {
    margin-top: 41px;
  }
  .plants-lover-content {
    flex-direction: column;
  }
  .plants-lover-image img {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
  .plants-lover-text {
    width: 100%;
    height: auto;
  }
  .plants-lover-text h3 {
    font-size: 37px;
  }
  .plants-lover-text ul li {
    font-size: 18px;
  }

  /* Latest Deal Section */
  .latest-deal-container {
    margin-top: 65px;
  }

  .latest-deal-content1 p {
    width: 75%;
    margin: auto;
    margin-top: 16px;
  }
  .latest-deal-container .latest-deal-content1 .h3 {
    font-size: 37px;
  }
  .latest-deal-content1 p {
    font-size: 16px;
  }

  /* Latest Deal Section */
  .latest-deal-image {
    margin-top: 70px;
    flex-direction: column;
    align-items: center;
  }

  .latest-deal-image-content2-content1 {
    font-size: 20px;
    font-weight: bold;
  }
  .latest-deal-image-content2-content2 {
    font-size: 16px;
    font-weight: 600;
  }

  .latest-deal-image-content1-image2 {
    margin-top: 30px;
  }

  .latest-deal-image-content2 {
    border-radius: 14px;
    width: 366px;
    height: 206px;
    padding: 65px 47px 64px 49px;
  }
  .latest-deal-image-content2-content1 {
    width: 270px;
    text-align: center;
  }
  .latest-deal-image-content2-content2 {
    width: 270px;
    text-align: center;
    padding: 19px 90px;
    margin-left: 1px;
  }

  /* Join Section */
  .join-container {
    padding-top: 159px;
    padding-bottom: 143px;
    max-width: 992px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(
        rgba(7, 51, 79, 0.4),
        rgba(0, 0, 0, 0.5),
        rgba(7, 51, 79, 0.4)
      ),
      url(./assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: 992px 433px;
  }

  .join-content {
    width: 630px;
    height: 110px;
    text-align: center;
  }

  .join-content h3 {
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
  }

  .join-content2 {
    margin-top: 10px;
  }

  .join-content2 input[type="email"] {
    width: 410px;
    padding-left: 20px;
    padding-top: 8px;
    padding-right: 300px;
    padding-bottom: 8px;
  }
  .join-content2 input::placeholder {
    font-size: 16px;
    font-weight: 400px;
    font-family: "Inter", sans-serif;
  }
  .join-content2 button {
    background-color: #e95a08;
    color: #ffffff;
    border: none;
    width: 280px;
    height: 50px;
  }
}

/* Small Device */
@media screen and (max-width: 576px) {
  .banner-content {
    flex-direction: column-reverse;
  }
  .header-container {
    margin-left: 16px;
    margin-right: 16px;
  }
  /* Navbar */
  .navbar-content ul {
    display: none;
  }
  /* Banner Section */
  .banner-container {
    margin-top: 28px;
  }
  .banner-content2-image {
    width: 100%;
    height: auto;
    margin-top: -100px;
  }
  .banner-content1 {
    margin-top: 28px;
  }
  .banner-content1 p {
    font-size: 24px;
  }
  .banner-content1 #banner-content1-p1 {
    font-size: 14px;
  }

  /* Our Plant Section */
  .plant-container {
    margin-top: 65px;
  }
  .plant-content1-h3 {
    width: 500px;
    margin: auto;
  }
  .plant-content1 p {
    width: 95%;
    margin: auto;
    margin-top: 16px;
  }
  .plant-content2-card {
    width: 171px;
  }
  .plant-content2 {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    place-items: center;
  }
  .plant-content2-card-image {
    width: 171px;
  }
  .plant-container .plant-content1 .h3 {
    font-size: 24px;
  }

  .plant-content1 p {
    font-size: 16px;
  }
  .plant-content2-card-content .plant-content2-card-banner button {
    width: 171px;
    padding: 19px 30px 19px 30px;
  }

  /* Plant Section */
  .plants-lover-container {
    margin-top: 41px;
  }
  .plants-lover-content {
    flex-direction: column;
  }
  .plants-lover-image img {
    width: 100%;
    height: auto;
  }
  .plants-lover-text {
    width: 100%;
    height: auto;
    margin-top: -18px;
    margin-bottom: 0;
  }
  .plants-lover-text h3 {
    font-size: 24px;
  }
  .plants-lover-text ul li {
    font-size: 14px;
  }

  /* Latest Deal Section */
  .latest-deal-content1-h3 {
    width: 500px;
    margin: auto;
  }
  .latest-deal-content1 p {
    width: 95%;
    margin: auto;
    margin-top: 16px;
  }
  .latest-deal-container .latest-deal-content1 .h3 {
    font-size: 24px;
  }

  .latest-deal-content1 p {
    font-size: 16px;
  }

  /* Latest Deals Image */
  .latest-deal-image {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  .latest-deal-image-content2-content1 {
    font-size: 20px;
    font-weight: bold;
  }
  .latest-deal-image-content2-content2 {
    font-size: 16px;
    font-weight: 600;
  }

  .latest-deal-image-content1-image2 {
    margin-top: 30px;
  }

  .latest-deal-image-content2 {
    border-radius: 14px;
    width: 366px;
    height: 206px;
    padding: 65px 47px 64px 49px;
  }
  .latest-deal-image-content2-content1 {
    width: 270px;
    text-align: center;
  }
  .latest-deal-image-content2-content2 {
    width: 270px;
    text-align: center;
    padding: 19px 90px;
    margin-left: 1px;
  }

  /* Join Section */
  .join-container {
    padding-top: 110px;
    padding-bottom: 64px;
    max-width: 576px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(
        rgba(7, 51, 79, 0.4),
        rgba(0, 0, 0, 0.5),
        rgba(7, 51, 79, 0.4)
      ),
      url(./assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: 576px 275px;
  }

  .join-content {
    width: 321px;
    height: 100px;
    text-align: center;
  }

  .join-content h3 {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
  }

  .join-content2 {
    margin-top: 23px;
  }

  .join-content2 input[type="email"] {
    width: 218px;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 112px;
    padding-bottom: 15px;
  }
  .join-content2 input::placeholder {
    font-size: 16px;
    font-weight: 400px;
    font-family: "Inter", sans-serif;
  }
  .join-content2 button {
    background-color: #e95a08;
    color: #ffffff;
    border: none;
    width: 321px;
    height: 50px;
  }
}
